<div class="flex items-center space-x-4 mb-6">
     <form method="GET" action="{{route}}" class="relative flex-grow text-light-primary-fixed">
          <input type="text" name="search" placeholder="Pesquisar Receita" value="{{query}}"
               class="w-full p-2 pl-4 pr-10 bg-light-surface-container text-light-primary-fixed rounded-full text-sm">
          <button type="submit" class="absolute right-3 top-1/2 transform -translate-y-1/2">
               <img src="icons/search.svg" alt="Search">
          </button>
     </form>
</div>