<section>
     <form class="space-y-6" action="#" method="POST">
          <div>
               <label for="title" class="block text-sm/6 font-medium text-gray-900">Título</label>
               <div class="mt-2">
                    <input id="title" name="title" type="teste" required
                         class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-light-primary-container sm:text-sm/6">
               </div>
          </div>
     
          <div class="col-span-full">
               <label for="ingredients" class="block text-sm/6 font-medium text-gray-900">Ingredientes</label>
               <div class="mt-2">
                    <textarea id="ingredients" name="ingredients" rows="3"
                         class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-light-primary-container sm:text-sm/6"></textarea>
               </div>
          </div>

          <div class="col-span-full">
               <label for="preparing" class="block text-sm/6 font-medium text-gray-900">Preparo</label>
               <div class="mt-2">
                    <textarea id="preparing" name="preparing" rows="3"
                         class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-light-primary-container sm:text-sm/6"></textarea>
               </div>
          </div>

          <div>
               <div class="flex items-center justify-between">
                    <label for="preparingtime" class="block text-sm/6 font-medium text-gray-900">Tempo de preparo</label>
               </div>
               <div class="mt-2">
                    <input id="preparingtime" name="preparingTime" type="text" required
                         class="block w-full rounded-md border-0 p-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-light-primary-container sm:text-sm/6">
               </div>
          </div>

          {{> tag-selection filters=this.filters }}
          <!-- Campo oculto para enviar tags -->
          <input type="hidden" name="tags" id="selectedTags">
          
          <button type="submit"
               class="flex w-full justify-center rounded-md bg-light-tertiary-container px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-light-tertiary focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Adicionar Receita</button>
     </form>
</section>
<script>
     document.addEventListener("DOMContentLoaded", () => {
               const tagButtons = document.querySelectorAll("button[data-tag]");
               const selectedTags = new Set();
               const selectedTagsInput = document.getElementById("selectedTags");

               tagButtons.forEach(button => {
                    button.addEventListener("click", (event) => {
                         event.preventDefault();

                         if (button.style.opacity === "1") {
                              button.style.opacity = "0.55"; // Deselecionado
                              selectedTags.delete(button.dataset.tag); // Remover tag do Set
                         } else {
                              button.style.opacity = "1"; // Selecionado
                              selectedTags.add(button.dataset.tag); // Adicionar tag ao Set
                         }

                         selectedTagsInput.value = Array.from(selectedTags).join(",");
                    });
               });
          });
</script>